---
import { Container, Button } from '@components/odyssey-theme';
import Layout from './Page.astro'; 
import ArticleSchema from '../components/schema/ArticleSchema.astro';
import { Icon } from 'astro-icon/components';

const {content: {title, description, publishDate, canonicalURL, featuredImage, tags} } = Astro.props;


const seo = {
	title,
	description,
  publishDate,
	canonicalURL,
	image: featuredImage,
};

// Extract slug from URL
const slug = Astro.url.pathname.split('/').pop();
---
<Layout seo={seo}> 
  <ArticleSchema title={title} description={description} publishDate={publishDate ? new Date(publishDate) : undefined} slug={slug} tags={tags} />
  <div class="post-header__container"> 
    <Button href="/writing" customIcon>
      <Fragment slot="icon">
        <Icon name="ic:baseline-arrow-back" />
      </Fragment>
      Back to Writing
    </Button>
    <!-- <ul class="post-tags__list">
      {tags.map(tag => (
        <li class="post-tags__tag">
          <a href={`/writing/tags/${tag}`}>{tag}</a>
        </li>
      ))} -->
    <p></p>
    <h1>{title}</h1>
    {publishDate && (
      <p class="post-layout__date">
        <time>{new Date(publishDate).toLocaleDateString('en-US', { 
          year: 'numeric', 
          month: 'short', 
          day: 'numeric' 
        })}</time>
      </p>
    )}
    {featuredImage && <img class="post-layout__img" src={featuredImage} alt={title} />}
  </div>
  <Container narrow>  
    <article id="article">
        <slot></slot>
    </article>
    <Button href="/writing" customIcon>
      <Fragment slot="icon">
        <Icon name="ic:baseline-arrow-back" />
      </Fragment>
      Back to Writing
    </Button>
    <p></p>
  </Container>
  <div class="post-footer__container">
</Layout>

<style>
  #article {
    padding-bottom: 3rem;
  }
  .post-header__container {
    max-width: var(--theme-blog-post-header-width);
    margin: 1rem auto;
    padding: var(--container-padding);
  }
  .post-tags__list {
    margin: 1rem auto;
    padding: 0;
    list-style: none;
  }
  .post-tags__tag {
    text-transform: uppercase;
  }
  .post-tags__tag a {
    font-size: var(--font-size-sm);
    text-decoration: none;
  }
  .post-layout__img {
    margin: 0 auto 1rem auto;
    border-radius: var(--theme-shape-radius);
  }
  .post-layout__date {
    margin-bottom: 1rem;
    opacity: 0.84;
  }
</style>